<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="main">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Main</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="ingredients">
            <ion-icon name="fast-food-outline"></ion-icon>
            <ion-label>Ingredients</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="explore">
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>Explore</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="calendar">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Calendar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>