<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
        <ion-title>Recipe Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align:center">
    <div align="center">
        <ion-img style="width: 350px; height: 350px;" src="./assets/food.jpg"></ion-img>
    </div>

    <form [formGroup]="myForm">
        <ion-item>
            <ion-label position="floating">Recipe Name</ion-label>
            <ion-input type="text" formControlName="recipe_name" value="{{ mrecipe_details.recipe_name }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating"> Duration </ion-label>
            <ion-input type="text" formControlName="duration" value="{{ mrecipe_details.duration }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingredients</ion-label>
            <ion-input type="text" formControlName="ingredients" value="{{ mrecipe_details.ingredients }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Steps</ion-label>
            <ion-input type="text" formControlName="steps" value="{{ mrecipe_details.steps }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nutritional Values</ion-label>
            <ion-input type="text" formControlName="nutritionalvalues" value="{{ mrecipe_details.nutritionalvalues }}"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button (click)="update()">Update</ion-button>
                <ion-button (click)="delete()">Delete</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>